@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    cursor: url(/images/firstan\ -\ Copy-F1-32x32x32.png),default  ; 
    box-sizing: border-box;

}




body{
    padding: 0;
    margin: 0;
    background-color: black;
    z-index: 100000;

}

nav{
    position: fixed;
    float: right;
    background-color: #222034;
    width: 100%;
    height: 41px;
    line-height: 260%;
    box-shadow: 0 0 15px 0 pink;
    z-index: 11;
    
}


#navDiv{
    display: flex;
    float: right;
    width: 100%;

}


#navDiv a{
    float: right;
    color: #00E0C6;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    transition: 200ms;
    
}



#aboutusId{
    background-color: red;
    box-shadow: 0 0 15px 0 pink;
    
}



#navDiv #homeId:hover{
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px pink;

}

#navDiv #heavenId:hover{
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px pink;

}

#navDiv #hellId:hover{
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px pink;

}

#navDiv #aboutusId:active{
    background-color: red;
}



#navDiv a:active{
    background-color: #590404;

}




#wrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}


#myImage{
  width: 500px;
  height: 500px;
  background-color: wheat;
  background-position:center ;
  /* border: solid purple 10px ; */
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 20px rgb(196, 0, 196);
 
}

#pPosition{
    margin-top: 20%;
    margin-left: 20%;
    display: block;
    float: left;     
    z-index: 100;
    
}

#pPosition a{
    font-family: Arial, Helvetica, sans-serif;    
    text-decoration: underline;
}

#pPosition #sA{
    font-family: Arial, Helvetica, sans-serif;    
    text-decoration: dotted;
    color: #590404; 
}


#pPosition a:hover{
    text-decoration: none;
    color: blue;
}